.none {
    display: none;
}

#bar-play-menu {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .bar-icon {
        font-size: 25px;
        color: black;
        margin: 5px 0;

        &:hover {
            cursor: pointer;
            color: gray;
        }
    }

    .icon-download {
        font-size: 28px;
    }

    .bar-icon-order {
        font-size: 34px;
    }

    .bar-icon-single {
        font-size: 27px;
    }

    .bar-icon-random {
        font-size: 47px;
    }

    #play-mode {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        margin: 5px 0;
    }
}

#bar-volume-bar {
    height: 150px;
    margin-bottom: 3px;
    width: 5px;
    position: relative;
    right: 13px;
}


#play-bar {
    grid-column: 1/3;
    grid-row: 3;

    width: 100%;
    height: 100%;
    background-color: rgba($color: #fff, $alpha: 0.4);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

    .bar-icon {
        font-size: 25px;
        color: black;

        &:hover {
            cursor: pointer;
            color: gray;
        }
    }

    #bar-left {
        display: flex;
        justify-content: space-between;
        width: 190px;
        margin-left: 25px;

        .bar-lyrices {
            border: 1px solid black;
            height: 21px;
            width: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2px;
            user-select: none;
            color: black;

            &:hover {
                cursor: pointer;
                color: gray;
                border-color: gray;
            }
        }

        .bar-show-lyrices {
            background-color: gray;
            color: white;
            border-color: gray;

            &:hover {
                background-color: rgb(202, 202, 202);
            }
        }

        #bar-comment {
            width: 27px;
            position: relative;

            .bar-icon-comment {
                font-size: 20px;
                margin-top: 2px;
            }

            #bar-comment-num {
                user-select: none;
                position: absolute;
                top: -4px;
                left: 11px;
                font-size: 10px;
                color: black;
            }

            &:hover {
                cursor: pointer;

                #bar-comment-num {
                    color: gray;
                }

                .bar-icon-comment {
                    color: gray;
                }
            }
        }
    }

    #bar-center {
        //background-color: seagreen;
        width: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .play-icon {
            font-size: 35px;
        }

        .play-icon-center {
            font-size: 45px;
        }
    }

    #bar-right {
        user-select: none;
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;
        margin-right: 25px;
        margin-top: 22px;
        color: black;

        .bar-right-frist {
            width: 270px;
            text-align: center;

            position: relative;
            right: 100px;
            top: -7px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }

        @media screen and (min-width:1400px) {
            .bar-right-frist {
                right: 260px;
                width: 400px;
            }
        }

        .song-name {
            color: black;
            display: inline;

            &:hover {
                cursor: pointer;
                color: gray;
            }
        }


        .right-song-list {
            &:hover {
                cursor: pointer;
                color: gray;
            }
        }
    }
}

.bar-play-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    .play-list-close {
        font-size: 13px;

        &:hover {
            cursor: pointer;
            color: #000;
        }
    }

    h4 {
        position: relative;
        top: 2px;
    }
}

.bar-play-list-content {
    width: 550px;
    height: 400px;
    overflow: auto;
    transform: scale(1.057);

    p {
        font-size: 13px;
    }


    .play-list-button {
        user-select: none;
        display: flex;
        height: 25px;
        line-height: 25px;
        justify-content: space-between;
        border-bottom: 1px solid #E8E8E8;

        .play-list-count {
            margin-left: 18px;
        }

        .play-list-clean {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .play-list-content {
        transform: scaleX(0.946);

        p {
            transform: scaleY(0.946);
        }
    }


    .play-list-one {
        height: 25px;
        line-height: 25px;
        border-bottom: 1px solid #E8E8E8;
        display: flex;
        user-select: none;
        position: relative;

        &:hover {
            p {
                color: #333;
            }

            background-color: rgb(239, 239, 239);
        }

        .play-list-icon {
            color: #C62F2F;
            margin-top: 6px;
        }

        .play-list-name {
            position: absolute;
            left: 18px;
            width: 300px;
            height: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .play-list-singer {
            position: absolute;
            left: 370px;
            width: 80px;
            height: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .play-list-time {
            position: absolute;
            left: 510px;
            width: 33px;
        }
    }
}